
.page-header {
    background-color:#808080;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 15px;
}
.button{
  float: right;
  background-color: #00008B;
  margin-top: -40px;
  margin-right: 20px;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
h1 {
    font-family: sans-serif;
    color:#000000;
}

.test-name {
  background-color:#F5FFFA;
}

.question{
      font-size: x-large;
      font-family: sans-serif;
      background-color: #FFF5EE;
}

.choices{
      font-size: large;
      font-family: monospace;
      background-color: #FFF5EE;
}
.submit {
  background-color:#00FF7F;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.result {

}
#timer{
  padding-left: 40px;
  float: right;
  margin-left: 40px;
}
